<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;

    }
    header{
        background-color: rgb(31, 31, 89);
        padding: 1rem;
        text-align: center;
    }
    h1{
        color: white;
    }
    h3{
        text-align: center;
        margin: 1rem;
        font-size: 20px;
    }
    form{
       
        text-align: center;
        padding: 1rem;
    }
    input{
        margin-bottom: 1rem;
    }
  
   
</style>
<body>
    <header>
        <h1>歡迎光臨,請註冊登入系統</h1>
    </header>
    <h3>註冊帳號</h3>
     
    <form action="/signup" method="post">
      姓名: <input type="text" name="name" required/> 
      <br>
      帳號: <input type="text" name="username" required/> 
      <br>
      密碼: <input type="password" name="password" required/>
      <br>
      <button>註冊</button>
    </form>

    <hr>
    <h3>登入系統</h3>
     
      <form action="/signin" method="post">
        帳號: <input type="text" name="username" required/> 
        <br>
        密碼: <input type="password" name="password" required/>
        <br>
        <button>登入</button>
      </form>  
       
</body>

</html>