<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
     *{
        margin: 0;
        padding: 0;

    }
    header{
        background-color: rgb(31, 31, 89);
        padding: 1rem;
        text-align: center;
    }
    h1{
        color: white;
    }
    h3{
        text-align: center;
        margin-top: 1rem;
    }
    div{
      
      display: flex;
      justify-content: center;
  }
</style>
<body>
    <header>
        <h1>失敗頁面</h1>
    </header>
    <h3>{{text}}</h3>
    <div>  <a href="/">返回首頁</a></div>
</body>
</html>